<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/sala.jpg);">
  <div class="container">
    <h1><strong>Aqui puedes guardar tu tipo de pelicula</strong>!</h1>
    <p>Terror.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
